@font-face {
    font-family: "IRANSansWeb";
    src: local("IRANSansWeb"),
    url("fonts/iransans/IRANSansWeb.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_Black";
    src: local("IRANSansWeb_Black"),
    url("fonts/iransans/IRANSansWeb_Black.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_Bold";
    src: local("IRANSansWeb_Bold"),
    url("fonts/iransans/IRANSansWeb_Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_Light";
    src: local("IRANSansWeb_Light"),
    url("fonts/iransans/IRANSansWeb_Light.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_Medium";
    src: local("IRANSansWeb_Medium"),
    url("fonts/iransans/IRANSansWeb_Medium.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_UltraLight";
    src: local("IRANSansWeb_UltraLight"),
    url("fonts/iransans/IRANSansWeb_UltraLight.ttf") format("truetype");
    font-weight: bold;
}



@font-face {
    font-family: "IRANSansWeb_FaNum";
    src: local("IRANSansWeb_FaNum"),
    url("fonts/iransans/FarsiNumber/IRANSansWeb(FaNum).ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_FaNum_Black";
    src: local("IRANSansWeb_FaNum_Black"),
    url("fonts/iransans/FarsiNumber/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_FaNum_Bold";
    src: local("IRANSansWeb_FaNum_Bold"),
    url("fonts/iransans/FarsiNumber/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_FaNum_Light";
    src: local("IRANSansWeb_FaNum_Light"),
    url("fonts/iransans/FarsiNumber/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_FaNum_Medium";
    src: local("IRANSansWeb_FaNum_Medium"),
    url("fonts/iransans/FarsiNumber/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "IRANSansWeb_FaNum_UltraLight";
    src: local("IRANSansWeb_FaNum_UltraLight"),
    url("fonts/iransans/FarsiNumber/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
    font-weight: bold;
}
